<main class="container">
    <section id="content">
        <div id="posts" class="sections">
            <div id="{{name}}">
                <hgroup>
                    <h1>{{title}}</h1>
                    <h2>{{description}}</h2>
                </hgroup>
            <div id="cards">
                {{#each posts}}
                    <div id="{{this.name}}">
                        <article class="card">
                            <div class="container">
                                <hgroup>
                                    <h3><a href="/blog/{{this.name}}.html">{{this.title}}</a></h3>
                                    <h5>{{#date}}{{this.date}}{{/date}}</h5>
                                </hgroup>
                                </div>
                                <div class="content">
                                    {{#each this.description}}
                                        {{#markdown}}{{this}}{{/markdown}}
                                    {{/each}}
                                </div>
                        </article>
                    </div>
                {{/each}}
            </div>
        </div>
    </header>
</main>
