<nav class="container-fluid">
    <ul>
        {{#with website}}
            <li>
                <a class="contrast" href="{{base_path}}">
                    <strong>{{title}}</strong>
                </a>
            </li>
            {{#each socials}}
                <li><a href="{{this.href}}" target="_blank" class="fa fa-{{this.fa_class}}"></a></li>
            {{/each}}
            <li><a href="#" data-theme-switcher="light" class="fa fa-sun-o"></a></li>
            {{#each pages}}
                <li><a href="{{this.path}}">{{this.name}}</a></li>
            {{/each}}
        {{/with}}

    </ul>
</nav>