<nav class="container-fluid">
    <ul>
        {{#with website}}
            <li>
                <a class="contrast" href="{{base_path}}">
                    <strong>{{title}}</strong>
                </a>
            </li>
        {{/with}}

        {{#with about}}
            {{#each socials}}
                <li><a href="{{this.href}}" target="_blank" class="fa fa-{{this.fa_class}}"></a></li>
            {{/each}}
        {{/with}}

        <li><a href="#" data-theme-switcher="light" class="fa fa-sun-o"></a></li>
    </ul>
</nav>
<main class="container">
    <section id="content">
        <div id="header" class="grid">
            {{#with about}}
                <hgroup>
                    <h1>{{name}}</h1>
                    <h2>{{bio}}</h2>
                </hgroup>
                <div class="profile-circle-container">
                    <a href="{{image.link}}" style="width: fit-content; height: fit-content; display: inline-block;" target="_blank">
                        <img class="profile-circle" width="300px" src="{{image.src}}" />
                    </a>
                </div>
            {{/with}}
        </div>
        <div id="sections" class="sections">
            {{#each sections}}
                <div id="{{this.name}}">
                    <hgroup>
                        <h1>{{this.title}}</h1>
                        <h2>{{this.description}}</h2>
                    </hgroup>
                    <div id="cards">
                        {{#each cards}}
                            <div id="{{this.name}}">
                                <article class="experience">
                                    <div class="container">
                                        <img src="{{this.image}}">
                                        <hgroup>
                                            <h3>{{this.title}}</h3>
                                            {{#if (isdefined this.start)}}
                                                <h4>{{this.subtitle}} ({{#timeperiod}}{{this.start}}:{{this.end}}{{/timeperiod}})</h4>
                                            {{else}}
                                                <h4>{{this.subtitle}}</h4>
                                            {{/if}}
                                        </hgroup>
                                    </div>
                                    <div class="content">
                                        {{#each this.description}}
                                            {{#markdown}}{{this}}{{/markdown}}
                                        {{/each}}
                                    </div>
                                </article>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </header>
</main>